xml-resources/jaxb/series/series.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Series">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="serie" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="nombre"/>
              <xs:element type="xs:string" name="genero"/>
              <xs:element type="xs:string" name="reparto"/>
              <xs:element type="xs:string" name="creador"/>
              <xs:element name="temporadas">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="episodios"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="fechaInicio"/>
              <xs:element type="xs:string" name="fechaFinalizacion" minOccurs="0"/>
              <xs:element type="xs:string" name="plataformaVisualicacion"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>